body {
    background-image: url("/wood.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.container {
    display: flex;
}

.container > * {
    margin-right: 1rem;
}

@font-face {
    font-family: Frijole;
    src: url(Frijole/Frijole-Regular.ttf);
}

@font-face {
    font-family: Sister;
    src: url(Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf);
}

h1 {
    font-family: Frijole;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    text-align: center;
}

h2 {
    font-family: Sister;
}

input {
    font-family: Frijole;
    background-color: #F9F8F7;
    border-radius: 6px;
    border: none;
    display: block;
    margin: auto;
    font-size: 16px;
    padding: 0.5rem;
}

div {
    margin-left: 3rem;
    margin-right: 3rem;
}
