body {
    background-image: url("/wood.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

@font-face {
    font-family: Frijole;
    src: url(Frijole/Frijole-Regular.ttf);
}

@font-face {
    font-family: Sister;
    src: url(Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf);
}

h1 {
    font-family: Frijole;
}

h2 {
    font-family: Sister;
}

h3 {
    font-family: Sister;
}

p {
    font-family: Frijole;
}

input {
    font-family: Frijole;
}

.card-group {
    display: flex;
    gap: 1rem;
}

.card {
    flex: 1;
    padding: 1rem;
    border: 2px solid lightgrey;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: white;
}

.card.selected {
    border-color: blue;
    background-color: lightcyan;
}

input[type="radio"] {
    display: none;
}
