body {
    margin: 0;
}

.container {
    display: flex;
    position: absolute;
    width: 100%;
}

.container > div {
    padding: 20px;
    text-align:center;
    font-family: 'Brush Script MT';
    font-size: 40px;
    flex: auto;
}

#score{
    text-align: left;
}

#timer {
    text-align: right;
}
