body {
    margin: 0;
    background-image: url("/wood.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.container {
    display: flex;
    position: absolute;
    width: 100%;
}

.container > div {
    padding: 20px;
    text-align:center;
    font-family: 'Brush Script MT';
    font-size: 40px;
    flex: auto;
}

#score{
    text-align: left;
}

#timer {
    text-align: right;
}
