#score {
    display:flex;
    position: absolute;
    width: 100px;
    height: 100px;
    padding:10px;
    justify-content: center;
    align-items:center;
    text-align: center;
    font-family: 'Brush Script MT';
    font-size: 40px;
    /* z-index: 100; */
    /* display: block; */
}